<h1 mat-dialog-title>{{data.id ? (data.first_name + ' ' + data.last_name) : 'Create a new subscriber'}} </h1>

<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <mat-form-field>
      <input matInput required placeholder="Email Address" [(ngModel)]="data.email_address"
        formControlName="email_address">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" required placeholder="First Name" [(ngModel)]="data.first_name"
        formControlName="first_name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" required placeholder="Last Name" [(ngModel)]="data.last_name"
        formControlName="last_name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>State</mat-label>
      <select matNativeControl required [(ngModel)]="data.state" formControlName="state">
        <option value="1">Active</option>
        <option value="2">Unsubscribed</option>
        <option value="3">Junk</option>
        <option value="4">Bounced</option>
        <option value="5">Unconfirmed</option>
      </select>
    </mat-form-field>

    <h4>Additional Fields</h4>

    <mat-form-field>
      <mat-label>Add Field</mat-label>
      <mat-select (selectionChange)="addFieldType($event)">
        <mat-option *ngFor="let fieldType of getFieldTypesForSelect()" [value]="fieldType.id">
          {{fieldType.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field *ngIf="phoneNumber">
      <input matInput type="text" required placeholder="{{phoneNumber.title}}" [(ngModel)]="phoneNumber.data"
        [formControlName]="getFormControlName(phoneNumber.title)">
    </mat-form-field>

    <mat-form-field *ngIf="country">
      <input matInput type="text" required placeholder="{{country.title}}" [(ngModel)]="country.data"
        [formControlName]="getFormControlName(country.title)">
    </mat-form-field>

    <mat-form-field *ngIf="postCode">
      <input matInput type="text" required placeholder="{{postCode.title}}" [(ngModel)]="postCode.data"
        [formControlName]="getFormControlName(postCode.title)">
    </mat-form-field>

    <mat-form-field *ngIf="dateOfBirth">
      <input matInput [matDatepicker]="picker" placeholder="{{dateOfBirth.title}}"
        [(ngModel)]="dateOfBirth.data" [formControlName]="getFormControlName(dateOfBirth.title)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="engagedCustomer">
      <mat-label>{{engagedCustomer.title}}</mat-label>
      <mat-select [formControlName]="getFormControlName(engagedCustomer.title)" [(ngModel)]="engagedCustomer.data">
        <mat-option value="1">Yes</mat-option>
        <mat-option value="0">No</mat-option>
      </mat-select>
    </mat-form-field>


  </form>
</div>

<div mat-dialog-actions *ngIf="!updatingFormGroup">
  <button mat-button (click)="cancelButtonClick()">Cancel</button>
  <button mat-button (click)="saveButtonClick()" cdkFocusInitial
    [disabled]="!formGroup.valid">{{data.id ? 'Save' : 'Create'}}</button>
</div>
